/*
font-family: 'Lato', sans-serif;
font-family: 'Modak', cursive;

#D96A7E
#80DEEA
#C9EBF3
#F3D5D6
#707070

*/







/* font type og size */
html {
  font-size: 90%; }
  @media (max-width: 75em) {
    html {
      font-size: 90%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 88%; } }

body {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.7;
        color: #777;
         }

/* Mobile wrapper */

.wrapper {
  max-width: 1024px;
  margin: 30px auto;
  font-size: 1.2em;
  background-color: #C9EBF3;
}
.wrapper > * {
  border-radius: 5px;
}

.wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas: 
  "logo logo nv_bar nv_bar"
  "video video video video"
  "cover_top cover_top cover_top cover_top"
  ". top top ."
  ". sv_bar sv_bar ."
  ". middle1 middle1 ."
  "album_cover album_cover album_cover album_cover"
  "album_cover album_cover album_cover album_cover"
  ". middle2 middle2 ."
  "color5 om_os_tekst om_os_tekst color2"
  "color3 om_os_img om_os_img color4"
  ". middle3 middle3 ."
  ". album_2 album_2 ."
  ". album_1 album_1 ."
  ". album_3 album_3 ."
  ". footer footer ."
}
/* ideer
                ". logo logo logo logo . . nv_bar nv_bar nv_bar . ."
                ". cover_top cover_top cover_top cover_top cover_top btn btn btn btn . ."
                ". . . . . top top . . . . ."
                ". . . . sv_bar sv_bar sv_bar sv_bar . . . ."
                ". . . . sv_bar sv_bar sv_bar sv_bar . . . ."
                ". . . . . middle1 middle1 middle1 . . . ."
                ". . . album_cover albumcover . . . . . . ."
                ". . . album_cover albumcover . . . . . . ."
                ". . . . . middle2 middle2 middle2 . . . ."
                ". . om_os_tekst om_os_tekst om_os_tekst om_os_tekst om_os_img om_os_img om_os_img om_os_img . ."
                ". . . . . middle3 middle3 . . . . ."
                ". . . . . album_1 album_2 . . . . ."
                ". . . . . album_3 album_4 . . . . ."
                ". footer footer . . . . . . . . ."

}
/*ends*/


/* desktop wrapper */
@media(min-width: 1200px) {
           .wrapper {
                max-width: 1980px;
                font-size: 1.2em;
                background: #C9EBF3;
            }

            .wrapper {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
              grid-template-areas:
                ". logo logo logo logo . . . nv_bar nv_bar nav_bar ."
                "color color color video video video video video video color2 color2 color2"
                ". . . . top top top . . . . ."
                ". . . . sv_bar sv_bar sv_bar sv_bar . . . ."
                ". . . . . middle1 middle1 middle1 . . . ."
                "color3 color3 color3 album_cover album_cover album_cover album_cover album_cover album_cover color4 color4 color4"
                ". . . . . middle2 middle2 middle2 . . . ."
                ". . om_os_tekst om_os_tekst om_os_tekst om_os_tekst om_os_img om_os_img om_os_img om_os_img . ."
                ". . . . . middle3 middle3 . . . . ."
                "color5 color5 color5 album_1 album_1 color6 color6 album_2 album_2 color7 color7 color7"
                "color8 color8 color8 color8 color8 album_3 album_3 color9 color9 color9 color9 color9"
                ". footer footer . . . . . . . . ."

            }
          }
/* desktop wrapper ends */


/* image size */
.cover_top{width: 100%}
.om_os_img{width: 100%}
.album_cover_small{width: 100%}
.video{width: 100%;}
.album_1{width: 100%;}
.album_2{width: 100%;}
.album_3{width: 100%;}
.album_4{width: 100%;}


h2
{
    font-size: 2.3rem;
    font-family: 'Modak', cursive;
}
/* nav size */
.nav {
  text-decoration: none;
  color: black;
}
/*
/* btn 
.btn {
  text-decoration: none;
  -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
  filter: drop-shadow(1px 1px 2px #222);
  border-radius: 2px;
  z-index: 5;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  font-size: 2rem;
}
.btn--blue {
  color: #80DEEA; 
}
*/

/*social media icons*/
.fa {

    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    grid-area: face;
  }
  .fa-soundcloud {
    background: #ff6600;
    color: white;
    grid-area: sound;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
    grid-area: you;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    grid-area: insta;
  }
  .fa-spotify {
      background-color: #1DB954;
      color: white;
      grid-area: spotify;
  }

  /*social media icons ends*/



  /* nav bar */
.logo{grid-area: logo;}
.nav{grid-area: nav;}
.nav_bar{ grid-area: nv_bar;
}


/* cover bar og lyt*/
.cover_top{Grid-area: cover_top;}
.btn{grid-area: btn;}
.video{grid-area: video;}

/* social links*/
.socials_bar{ grid-area: sv_bar;}
.top{grid-area: top;
text-align: center;}


/* IDEA: waaaaa  */
.middle1{grid-area: middle1;
text-align: center;}
.album_cover_small{grid-area: album_cover;}
.album_1{grid-area: album_1;}
.album_2{grid-area: album_2;}
.album_3{grid-area: album_3;}
.album_4{grid-area: album_4;}

/* Om Os*/
.middle2{grid-area: middle2;
text-align: center;}
.om_os_tekst{grid-area: om_os_tekst;
text-align: center;
font-size: 50%;}
.om_os_img{grid-area: om_os_img;}

/*Galleri*/
.middle3{grid-area: middle3;
text-align: center;}

.footer{grid-area: footer;
font-size: 1.5rem;}

.colorred{grid-area: color;
background-color:#F3D5D6;}
.color2{grid-area: color2;
  background-color:#F3D5D6;}
  .color3{grid-area: color3;
    background-color:#F3D5D6;}
    .color4{grid-area: color4;
      background-color:#F3D5D6;}
      .color5{grid-area: color5;
        background-color:#F3D5D6;}
        .color6{grid-area: color6;
          background-color:#F3D5D6;}
          .color7{grid-area: color7;
            background-color:#F3D5D6;}
            .color8{grid-area: color8;
              background-color:#F3D5D6;}
              .color9{grid-area: color9;
                background-color:#F3D5D6;}
                .color10{grid-area: color10;
                  background-color:#F3D5D6;}
